body {
     background-color: #808080; 
}
.wrap {
   
    background-color: white;
    
  }
.section {
    background-color: white;
    width: 70%;
    height: auto;
     margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
    margin-bottom: 0;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
li {
   display: inline;
    margin: 0;
}
a.nav:link, a.nav:visited {
    border-radius: 20%;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    color: #FFFFFF;
    background-color:  	#00FA9A;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
}

a.nav:hover, a.nav:active {
    background-color: #3CB371;
    border-radius: 20;
}
.logo {
    display: inline;
    float: left;
    width: 60%;
    font-size: 3em;
    font-style: italic;
    color: chocolate;
}
.left {
    display: inline;
    width: 40%;
    float: left;
     font-size: 1.5em;
    font-style: italic;
    color:fuchsia;
    padding-top: 20px;
    
}
.head {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    color: crimson;
   
}
.content {
    font-style: italic;
    font-size: 1.7em;
    color: darkviolet;
    margin-left: 10%;
    margin-right: 10%
}
table {
    font-style: italic;
    font-size: 1.7em;
    color: black;
    margin-left: 10%;
    margin-right: 10%
}
.footer {
    background-color: #C0C0C0;
}
.ftext {
    text-align: center;
    color: white;
    font-size: 20px;
    
}